/*
 * This file is part of Eduviewer-frontend.
 *
 * Eduviewer-frontend is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Eduviewer-frontend is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Eduviewer-frontend.  If not, see <http://www.gnu.org/licenses/>.
 */

.groupingList {
  list-style-type: none;
  margin-bottom: 0.5em;
  margin-top: 0.3em;

  & li {
    &:nth-child(odd) {
      background-color: var(--silver);
    }

    &:nth-child(even) {
      background-color: var(--darkwhite);
    }

    &:first-child {
      border-top: 0.1em solid var(--silver);
    }

    & > a {
      margin-left: 0.5em;
    }

    &:last-child {
      margin-bottom: 0.5em;
      border-bottom: 0.1em solid var(--silver);

      & > a {
        margin-left: 0.5em;
      }
    }

    color: var(--black);
    border-right: 0.1em solid var(--silver);
    border-left: 0.1em solid var(--silver);
    padding: 0.5em 0;
    margin: 0 0.25em;
  }
}

.groupingList + .groupingList {
  margin-top: 2em;
}

.groupingModule .dropdown {
  margin: 1.5em 0;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

.groupingModule {
  margin-top: 0.5em;
}

.groupingModule strong {
  font-size: 1.5em;
}

.groupingModule .groupingModule strong {
  font-size: 1.5em;
}

.groupingModule .groupingModule .groupingModule strong {
  font-size: 1.125em;
}

.groupingModule .groupingModule .groupingModule .groupingModule strong {
  font-size: 1em;
}

.groupingTitle {
  color: var(--black);
  font-weight: bold;
  padding: 1em 0 1em 0.25em;
  display: flex;
  gap: 0.5em;
}

.groupingTitle > .moduleCredits {
  margin-left: auto;
  margin-right: 1.5em;
}

.paddingLeft1 {
  padding-left: 1em;
}

.paddingLeft05 {
  padding-left: 0.5em;
}

.paddingBottom1 {
  padding-bottom: 1em;
}

.compositeRuleCourseAmounts {
  display: flex;
  padding: 1em 1em 0.5em 1em;
}
