.descriptionContainer {
  margin-top: 0.3em;
  padding: 0.45em 0.35em 0.15em;
  border: 0.075em dashed var(--blue);
  display: flex;
  width: 100%;
}

.iconContainer {
  font-size: 1.25em;
  margin-right: 0.2em;
  color: var(--blue);
}
.iconContainer::after {
  vertical-align: baseline !important;
}

.description {
  font-size: 1em;
  color: var(--black);
  font-weight: 300;
}

.description > p {
  font-size: 1em;
  color: var(--black);
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 0;
}

.description b {
  color: var(--black);
  font-weight: 600;
}

.description > p > a {
  word-break: break-all;
}

.groupingModule strong {
  font-size: 1.5em;
}

.groupingModule .groupingModule strong {
  font-size: 1.5em;
}

.groupingModule .groupingModule .groupingModule {
  padding-left:1em;
}

.groupingModule .groupingModule .groupingModule strong {
  font-size: 1.125em;
}

.groupingModule .groupingModule .groupingModule .groupingModule strong {
  font-size: 1em;
}

