/*
 * This file is part of Eduviewer-frontend.
 *
 * Eduviewer-frontend is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Eduviewer-frontend is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Eduviewer-frontend.  If not, see <http://www.gnu.org/licenses/>.
 */
@design-tokens url('../../styles/variables/variables.json') format('style-dictionary3');

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon-spin::after {
  animation: icon-spin 2s infinite linear;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  /* stylelint-disable-next-line color-function-notation */
  background-color: rgb(255, 255, 255, 70%);
  font-size: 2rem;
  z-index: 2;
  color: design-token("color.darkSilver");
}

.icon--spinner::after {
  display: inline-block;
  font-family: hy-icons, emoji, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: bottom;
  content: "î©Š";
}
