.iconContainer {
  display: inline-block;
  margin-left: 0.25em;
}

.icon {
  transform: rotate(-45deg) translateY(-0.2em);
  position: relative;
  top: 0.3em;
  height: 1em;
}

.link {
  color: var(--blue);

  & .icon {
    fill: var(--blue);
  }

  &:hover,
  &:focus {
    color: var(--darkBlue);

    & .icon {
      fill: var(--darkBlue);
    }
  }
}
