
{
  "plugins": ["react-hot-loader/babel", "transform-class-properties"],
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "ie 11"]
      }
    }],
    "react"
  ]
}
