
{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage",
      "corejs": 3,
      "targets": {
        "browsers": ["last 2 versions", "Firefox ESR", "not dead", ">0.5%"]
      }
    }],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "modules": "commonjs", "targets": { "node": "current" } }],
        "@babel/preset-react"
      ]
    }
  }
}
