dist
config/config.json
node_modules
npm-debug.log

# IDE metadata
.vscode
.idea
*.iml

# Mac metadata
*.DS_Store

.env

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
