<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
       <title><%= title %></title>
    </head>
    <body>
        <div id="eduviewer-root" degree-program-id="" academic-year="" lang="<%= lang %>" header=""></div>
    </body>
</html>
