<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
       <title><%= title %></title>
       <style>
        body {
            margin-block: 1rem;
            margin-inline: 0;

            @media (min-width: 480px) {
                margin: 1rem;
            }
        }
        #eduviewer-root {
            max-width: 1376px;
            margin: 0 auto;
        }
       </style>
    </head>
    <body>
        <div id="eduviewer-root" degree-program-id="" module-code="" academic-year="" only-selected-academic-year="false" lang="<%= lang %>" header=""></div>
    </body>
</html>
