/*
 * This file is part of Eduviewer-frontend.
 *
 * Eduviewer-frontend is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Eduviewer-frontend is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Eduviewer-frontend.  If not, see <http://www.gnu.org/licenses/>.
 */
@design-tokens url('../../styles/variables/variables.json') format('style-dictionary3');

.toggleContainer {
  position: relative;
  margin: 1.25em 0 0;
  min-height: 50px;
  min-width: 300px;
  display: flex;

  & input[type="checkbox"] {
    display: block;
  }
  
  & .toggle {
    line-height: normal;
  }
}


.toggleLabelText {
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 0 0 0.3em;
  cursor: pointer;
}

/* react-toggle-overrides */
:global(.react-toggle-thumb) {
  border-color: design-token("color.darkSilver") !important;
}

:global(.react-toggle-track) {
  font-size: 1rem;
  background-color: design-token("color.darkSilver") !important;
}

:global(.react-toggle--checked) :global(.react-toggle-track) {
  background-color: design-token("color.blueActive") !important;
}

:global(.react-toggle--checked) :global(.react-toggle-thumb) {
  border-color: design-token("color.blueActive") !important;
}
