/*
 * This file is part of Eduviewer-frontend.
 *
 * Eduviewer-frontend is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Eduviewer-frontend is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Eduviewer-frontend.  If not, see <http://www.gnu.org/licenses/>.
 */
@design-tokens url('../../styles/variables/variables.json') format('style-dictionary3');

.iconWarning::after {
  display: inline-block;
  font-family: hy-icons, emoji, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: bottom;
  content: "";
}

/*
 section: 6.12.3
 title: Error message
 template: 6_12_3-message-error
 description: Used for displaying error messages to the user.
*/
.messages {
  font-size: 0.75rem;
  padding: 1.3em 0;
  text-align: center;
}

.messages p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.messages a {
  font-weight: 700;
  font-style: normal;
}

.messages.error {
  background-color: #964822;
  color: #FFF;
}

.messages.error * {
  color: #FFF;
}

.messages.error p::before,
.messages.error li::before {
  display: inline-block;
  font-family: hy-icons, emoji, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: bottom;
  content: "";
  font-size: 1.4em;
  margin-right: 0.5em;
  position: relative;
  top: 2px;
}

.errorContainer {
  display: flex;
  padding: 1em !important;
  padding-bottom: 0.5em !important;
  border-radius: 0.3em;
  border: solid 0.1em design-token("color.darkOrange");
  margin-bottom: 1em;
  font-size: 0.8em !important;
}

.iconContainer {
  font-size: 2.5em;
  margin-right: 0.35em;
}

.iconContainer::after {
  vertical-align: baseline !important;
}

.message {
  margin-left: 0.5em;
  text-align: left;
}

.messageTitle {
  font-size: 1.1em;
  font-weight: 700;
}
