.errorContainer {
  display: flex;
  padding: 1em !important;
  padding-bottom: 0.5em !important;
  border-radius: 0.3em;
  border: solid 0.1em var(--darkOrange);
  margin-bottom: 1em;
  font-size: 0.8em !important;
}

.iconContainer {
  font-size: 2.5em;
  margin-right: 0.35em;
}

.iconContainer::after {
  vertical-align: baseline !important;
}

.message {
  margin-left: 0.5em;
  text-align: left;
}

.messageTitle {
  font-size: 1.1em;
  font-weight: 700;
}
