/*
 * This file is part of Eduviewer-frontend.
 *
 * Eduviewer-frontend is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Eduviewer-frontend is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Eduviewer-frontend.  If not, see <http://www.gnu.org/licenses/>.
 */
@design-tokens url('../../styles/variables/variables.json') format('style-dictionary3');

.loaderContainer {
  display: flex;
  flex-direction: column;
}

.labelText {
  font-size: 1.125em;
  color: design-token("color.lightGray");
  font-weight: 300;
  line-height: 2.4;
  padding: 0;
  margin: 0;
}

.loadingContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid design-token("color.darkSilver");
  padding: 10px;
}

.loadingText {
  font-weight: bold;
  color: design-token("color.darkSilver");
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* According to styleguide, select-menus are white boxes with no hint about their interactions. Add caret icon.
If the options are long and the select box is wide, locally adjust caret x-position to be >90% */
label>select.loadedSelect {
  &::-ms-expand {
    display: none;
  }

  padding-right: 2.5em;
  background: url("../../images/caret-down.png") no-repeat right 1em top 60%;
  font-weight: bold;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: none;
  font-size: 1em;
}
