/*
 * This file is part of Eduviewer-frontend.
 *
 * Eduviewer-frontend is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Eduviewer-frontend is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Eduviewer-frontend.  If not, see <http://www.gnu.org/licenses/>.
 */

.rootModule {
  --border: var(--ds-borderWidth-hairline) solid var(--ds-borderColor-light);

  position: relative;

  eduviewer-ds-accordion {
    position: relative;
    display: block;
    z-index: 2;
  }
  
  /* TODO: Remove once fixed in https://jira.it.helsinki.fi/browse/DS-589 */
  eduviewer-ds-accordion div[role="region"] {
    /*
      NOTE: The colour should not be white (but transparent).
      This is fine as a workaround as long as eduviewer is embedded onto a white background.
    */
    background-color: var(--ds-bgColor-white);
  }

  & a.link {
    all: unset;
    cursor: pointer;
  }

  & .moduleTitle {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ds-spacing-small);
    line-height: var(--ds-lineHeight-large);
    justify-content: space-between;

    &:first-child {
      padding-block-start: var(--ds-spacing-small);
    }    
  }

  & .module:first-of-type > .moduleTitle {
    padding-top: var(--ds-spacing-xSmall);
  }

  & .moduleTitle > .moduleCredits {
    white-space: nowrap;
    line-height: var(--ds-lineHeight-large);
  }

  & .course,
  & .anyCourse {
    position: relative;
    display: block;
  }

  & ul > li {
    margin-top: calc(-1 * var(--ds-borderWidth-hairline)); 
  }

  & .courseContent,
  & .anyCourseContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--ds-spacing-small);
    padding-block: 0.1875rem;

    @media (width >= 60rem) {
      /* stylelint-disable-next-line number-max-precision */
      padding-block: 0.09375rem;
    }
  }

  & .courseContent > small,
  & .anyCourseContent > small {
    flex-shrink: 0;
  }

  & .semibold {
    font-weight: var(--ds-fontWeight-semibold);
  }

  /* NOTE: Make sure to use these utility classes when setting top/bottom borders on elements. */
  & .borderTop,
  & .borderBottom {
    /*
      Prevents the borders from being overlapped by
      the content of the next element or a previous accordion.
    */
    z-index: 2;
  }

  & .borderTop {
    border-top: var(--border);
  }
  
  & .borderRight {
    border-right: var(--border);
  }

  & .borderBottom {
    border-bottom: var(--border);
  }

  /* NOTE: This class is used to forcefully add a border bottom to the last structure element */
  & .forceBorderBottom {
    border-bottom: var(--border) !important;
  }

  & .borderLeft {
    border-left: var(--border);
  }

  & .accordion {
    --ds-accordion-content-padding: 0;

    margin-bottom: calc(-1 * var(--ds-borderWidth-hairline));
  }

  & ul > li:last-child > section > .accordion {
    margin-bottom: 0;
  }

  & .accordionHeader {
    padding: var(--ds-spacing-xSmall) var(--ds-spacing-small);
  }

  & .accordionHeaderContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--ds-spacing-small);
    font-weight: var(--ds-fontWeight-semibold);
    padding-block: 0.1875rem;

    @media (width >= 60rem) {
      /* stylelint-disable-next-line number-max-precision */
      padding-block: 0.09375rem;
    }
  }

  & .accordionHeaderContentCompact {
    font-weight: var(--ds-fontWeight-regular);

    @media (width >= 60rem) {
      padding-block: 0;
    }
  }

  & .accordionHeaderContent > small {
    flex-shrink: 0;
  }
  
  & .creditsRule {
    display: block;
  }

  & .otherContent {
    display: flex;
    flex-direction: column;
    gap: var(--ds-spacing-small);
    padding-block-end: var(--ds-spacing-small);

    ul + &,
    &:not(.otherContent:not(:empty) ~ .otherContent, .creditsRule ~ &) {
      padding-block-start: var(--ds-spacing-small);
    }
    
    /*
      NOTE: Only scenario where a border-top is required is when the previous sibling
      is a list and the last item is an open accordion.
    */
    /* stylelint-disable-next-line no-descending-specificity */
    ul:has(li:last-child eduviewer-ds-accordion[data-state="open"]) + & {
      border-top: var(--border);
    }

    /* NOTE: Prevents rendering of empty elements and line breaks from Sisu */
    /* stylelint-disable-next-line no-descending-specificity */
    &:empty,
    & div:empty,
    & p:empty,
    & br {
      display: none;
    }
  }

  & .courseUnitsTitle {
    margin-top: calc(-2 * var(--ds-spacing-3xSmall));
    margin-bottom: calc(-2 * var(--ds-spacing-3xSmall));
    
    @media (width >= 60rem) {
      margin-top: calc(-1.5 * var(--ds-spacing-3xSmall));
      margin-bottom: calc(-1.5 * var(--ds-spacing-3xSmall));
    }
  }

  & .groupHeader {
    position: relative;
    z-index: 2;
    background-color: var(--ds-bgColor-neutral);
    padding: var(--ds-spacing-4xSmall) var(--ds-spacing-small);
    margin-top: calc(-1 * var(--ds-borderWidth-hairline));
  }

  & .description {
    display: block;
    max-width: 650px;
  }
 
  & .description > :first-child {
    margin-top: 0;
  }

  & .description > :last-child {
    margin-bottom: 0;
  }

  & .groupHeader + .description {
    padding-block: var(--ds-spacing-small);
  }

  & .creditRequirement {
    position: relative;
  }

  & > section {
    padding-left: 0;
  }
}
