@charset "UTF-8";

@font-face {
  font-family: hy-icons;
  src: url("../fonts/hy-icons.eot");
  src: url("../fonts/hy-icons.eot?#iefix") format("eot"), url("../fonts/hy-icons.woff") format("woff"), url("../fonts/hy-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon::before {
  box-sizing: border-box;
}
