/*
 * This file is part of Eduviewer-frontend.
 *
 * Eduviewer-fronted is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Eduviewer-fronted is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Eduviewer-fronted.  If not, see <http://www.gnu.org/licenses/>.
 */

/* styleguide radio and checkbox buttons look nice, but are utterly inaccessible */
input[type="radio"] {
  display: inline-block;
  -webkit-appearance: radio;
  -moz-appearance: radio;
}

input[type="checkbox"] {
  display: inline-block;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  display: none;
  border: 0;
  width: 0;
  height: 0;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
}

/* According to styleguide, select-menus are white boxes with no hint about their interactions. Add caret icon.
  If the options are long and the select box is wide, locally adjust caret x-position to be >90% */
select {
  background: url(../images/caret-down.png) no-repeat right 1em top 60%;
  font-weight: bold;
  -moz-appearance: none;
  font-size: 1rem;
}

select::-ms-expand {
  display: none;
}

/* react-toggle-overrides */
.react-toggle--checked .react-toggle-track {
  background-color: var(--blueActive) !important;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: var(--blueActive);
}

.react-toggle-track {
  font-size: 1rem;
  background-color: var(--darkSilver) !important;
}

.react-toggle-thumb {
  border-color: var(--darkSilver);
}
