/* react-toggle-overrides */
.react-toggle-thumb {
  border-color: var(--darkSilver);
}

.react-toggle-track {
  font-size: 1rem;
  background-color: var(--darkSilver) !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: var(--blueActive) !important;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: var(--blueActive);
}
