/*
 * This file is part of Eduviewer-frontend.
 *
 * Eduviewer-frontend is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Eduviewer-frontend is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Eduviewer-frontend.  If not, see <http://www.gnu.org/licenses/>.
 */

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-medium);
  box-sizing: border-box;
  font-family: var(--ds-fontFamily-body);
  font-size: var(--ds-fontSize-14);

  & *::before,
  & *::after {
    box-sizing: inherit;
  }

  & p {
    margin-block: var(--ds-spacing-small);
  }

  & dl,
  & ol,
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & a {
    letter-spacing: var(--ds-letterSpacing-wide);
    line-height: var(--ds-lineHeight-large);
  }

  & a,
  & u:has(> a) {
    letter-spacing: var(--ds-letterSpacing-wide);
    line-height: var(--ds-lineHeight-large);
    color: var(--ds-textColor-link);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 7%;
    text-underline-offset: 12%;
    text-underline-position: from-font;
  }

  & a:visited {
    color: var(--ds-textColor-link-visited);
  }

  .mainHeader {
    margin-top: var(--ds-spacing-xSmall);
    margin-bottom: var(--ds-spacing-small);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--ds-spacing-small);
  }

  & .controlsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--ds-spacing-medium);
  }

  & .toggleAllButton {
    position: relative;
  }

  *:not([class^='ds-'], [class*='ds-']) {
    &:focus-visible {
      box-shadow: 0 0 0 var(--ds-borderWidth-thin) var(--ds-borderColor-white);
      outline: var(--ds-borderWidth-thin) solid var(--ds-borderColor-black);
      outline-offset: calc(var(--ds-borderWidth-thin) * 1);
    }
  }
}

@media (width >= 60rem) {
  .mainContainer {
    font-size: var(--ds-fontSize-16);
  }
}