/*
 * This file is part of Eduviewer-frontend.
 *
 * Eduviewer-frontend is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Eduviewer-frontend is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Eduviewer-frontend.  If not, see <http://www.gnu.org/licenses/>.
 */

.mainContainer {
  margin: 1em;
  padding: 0.5em 1em 1em;
  border: 0.0125em solid var(--mediumSilver);
}

.mainHeader {
  letter-spacing: unset;
  line-height: unset;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.05em;
  margin-bottom: 1em;
  border-bottom: 0.05em dashed var(--mediumSilver);
}

.noContent {
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  font-size: 1.1em;
  color: var(--black);
  font-weight: 300;
}

.academicYearContainer {
  margin-top: 0.5em;
  font-size: 1.45em;
}

.academicYearLabel {
  color: var(--lightGray);
  font-weight: 400;
}

.academicYearText {
  color: var(--black);
  font-weight: 600;
}
