ul {
  list-style-type: none;
  margin: 5px;
  padding-left: 20px;
}

li {
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
}

li:last-child {
  border: none;
}

.hidden {
  display: none;
}
