/*
 * This file is part of Eduviewer-frontend.
 *
 * Eduviewer-frontend is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Eduviewer-frontend is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Eduviewer-frontend.  If not, see <http://www.gnu.org/licenses/>.
 */
@design-tokens url('../../styles/variables/variables.json') format('style-dictionary3');

.infoContainer {
  margin: 0.8em 0.8em 0.5em;
  padding: 0.5em 0.35em 0.75em 0;
  border: 0.075em solid design-token("color.orange");
  display: flex;
  background-color: design-token("color.white");

  & .content {
    font-size: 1em;
    color: design-token("color.black");
    font-weight: 300;

    & > p {
      font-size: 1em;
      color: design-token("color.black");
      font-weight: 300;
      line-height: 1.4;
      margin-bottom: 0;

      & > a {
        word-break: break-all;
      }
    }

    & b {
      color: design-token("color.black");
      font-weight: 600;
    }

    & li:nth-child(odd),
    & li:nth-child(even) {
      background-color: design-token("color.white") !important;
      border: none !important;
    }
  }
}

.iconContainer {
  font-size: 1.25em;
  margin: 0 0.4em;
  color: design-token("color.orange");
}

.iconContainer::after {
  vertical-align: baseline !important;
}

.icon--info-stroke::after {
  display: inline-block;
  font-family: hy-icons, emoji, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: bottom;
  content: "î¨˜";
}
